/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --rich-black-fogra-39_50: hsla(0, 0%, 5%, 0.5);
  --rich-black-fogra-39: hsl(0, 0%, 5%);
  --indian-yellow_10: hsla(36, 61%, 58%, 0.1);
  --indian-yellow: hsl(36, 61%, 58%);
  --harvest-gold: hsl(36, 66%, 53%);
  --eerie-black-1: hsl(0, 0%, 14%);
  --eerie-black-2: hsl(0, 0%, 12%);
  --eerie-black-2_85: hsla(0, 0%, 12%, 0.85);
  --eerie-black-3: hsl(0, 0%, 8%);
  --sonic-silver: hsl(0, 0%, 44%);
  --davys-gray: hsl(210, 9%, 31%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white_30: hsla(0, 0%, 100%, 0.3 );
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(0, 0%, 21%);

  /**
   * typography
   */

  --ff-oswald : 'Oswald', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fs-40: 4rem;
  --fs-30: 3rem;
  --fs-24: 2.4rem;
  --fs-18: 1.8rem;
  --fs-14: 1.4rem;
  --fs-13: 1.3rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * shadow
   */

  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

  /**
   * radius
   */

  --radius-5: 5px;
  --radius-8: 8px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}




/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
data,
input,
select,
button,
textarea,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 2;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

/*-----------------------------------*\
  #Whatsapp button
\*-----------------------------------*/

#whatsapp .wtsapp {
  position: fixed;
  transition: all .5s ease;
  background-color: #25d366;
  display: flex;               /* ⬅️ عشان نخليها flexbox */
  align-items: center;         /* ⬅️ وسط عمودي */
  justify-content: center;  
  text-align: center;
  box-shadow: 0 0 20px rgb(0,0,0,0.15);
  border-radius: 50px;
  border-right: none;
  color:#fff;
  font-weight: 700;
  font-size: 30px;
  bottom: 70px;
  right: 50px;
  border: 0;
  z-index: 99999;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

#whatsapp .wtsapp:before {
  content: "";
  position: absolute;
  z-index: -1;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

#whatsapp .wtsapp:focus {
  border:none;
  outline: none;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    opacity: 0;
  }
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.container{ padding-inline:15px; 
            opacity: 0;
            transition: all 0.5s ease;
          }
.container.show{  
            opacity: 1;
           }

.section { padding-block:var(--section-padding);}

.has-before,
.has-after{
  position: relative;
  z-index: 1;
}
.has-before::before,
.has-after::after{
  position:absolute;
  content: "";
}
.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.h1,
.h2,
.h3{
  
font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.3;
}
.h1,
.h2{text-transform: uppercase;}

.h1,
.h3{ font-weight: var(--fw-600);}

.h1{
  color :var(--white);
  font-size: var(--fs-40);
}
.h2,
.h3{ color: var(--eerie-black-1);}

.h2{font-size: var(--fs-30);}

.h3{ font-size:var(--fs-24);}

.btn{
  color: var(--white);
  background-color: var(--indian-yellow);
  display: flex;
  align-items: center;
  gap:10px;
  max-width: max-content;
  padding: 10px 25px;
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  border-radius: var(--radius-5);
  overflow: hidden;
}
.btn::before{
  background-color: var(--eerie-black-1);
  inset: 0;
  z-index:-1;
  transform:skewY(-15deg) scaleY(0);
  transition: var(--transition-2);
}
.btn:is(:hover, :focus)::before{transform: skewY(-15deg) scaleY(2.5);}

.text-center{ text-align: center;}

.grid-list {
  display: grid;
  gap: 30px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.logo {
  display: flex;          /* yan yana gelsin */
  align-items: center;    /* ortalansın */
  gap: 8px;               /* araya boşluk koy */
  font-size: 20px;        /* yazı boyutu */
  font-weight: bold;      /* kalın yazı */
  color:var(--indian-yellow);
  font-family: var(--ff-oswald);
  font-size: 2.7rem;
  font-weight:var(--fw-600);
  text-transform:uppercase;
  line-height: 1.4;
}
.logo img {
  width: 40px;   /* logo boyutu */
  height: auto;
  margin-right:10px ;
}
.flogo{
  
  display: flex;
  flex-direction: column; /* يخلي العناصر تحت بعض */
  align-items: center;    /* يوسّطها */
  text-align: center;         /* ortalansın */
  color:var(--indian-yellow);
  font-family: var(--ff-oswald);
  font-size: 2.7rem;
  font-weight:var(--fw-600);
  text-transform:uppercase;
  line-height: 1.4;
}

.flogo img {
  width:80px;   /* logo boyutu */
  height: auto;
  margin-bottom:5px ;
}
.flogo .span{
  color:var(--white);
  font-family: var(--ff-rubik);
  font-size:1.5rem;
  font-weight: var(--fw-600);
  text-transform: capitalize;
  letter-spacing: 2px;
}
img.lo{ 
  height: auto;
  width: 150px; }

.header-top-item,
.header .btn{
  display: none;
}
.header-top-list,
.header-top-list .social-list{
  display: flex;
  align-items: center;
}
.header-top-list{justify-content: center;
}
.header-top-list .social-list{
  gap:20px;
  padding-block: 15px;
}
.header-top-list .social-list{
  color: var(--sonic-silver);
  font-size:15px;
  transition: var(--transition-1);
}
.header-top-list .social-list  :is(:hover , :focus){
  color:var(--indian-yellow);
  
}
.header-bottom{
  position: absolute;
  top:45px;
  left:0;
  width:100%;
  padding-block: 10px;
  z-index: 4;
}
.header-bottom.active{
  position: fixed;
  top:0;
  background-color:var(--rich-black-fogra-39);
  transform: translateY(-100%);
  animation:  slideIn 0.5s ease forwards;
}
@keyframes slideIn{
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}

.header-bottom > .container{
  display: flex ;
  justify-content: space-between;
  align-items:center;
}
.logo .span{
  color:var(--white);
  font-family: var(--ff-rubik);
  font-size:1.3rem;
  font-weight: var(--fw-300);
  text-transform: capitalize;
  letter-spacing: 2px;
}
.nav-toggle-btn {
  color: var(--white);
  font-size: 40px;
}

.navbar {
  position: absolute;
  padding-inline: 0;
  top: 100%;
  left: 15px;
  right: 15px;
  background-color: var(--rich-black-fogra-39);
  max-height: 0;
  overflow: hidden;
  transition: 0.15s var(--cubic-out);
}

.navbar.active {
  max-height: 321px;
  display: block;
  transition: 0.5s;
}

.navbar-list {
  border-block-start: 1px solid var(--jet);
  margin-block: 25px;
}

.navbar-list{
  border-block-start:1px solid var(--jet);
  margin-block:25px;
}
.navbar-item {border-block-end:1px solid var(--jet);}

.navbar-link{
  color:var(--white);
  font-family: var(--ff-oswald);
  font-weight:var(--fw-600);
  text-transform: uppercase;
  line-height: 1.5;
  padding:10px 30px;
  transition: var(--transition-1);
}
.navbar-link:is(:hover,:focus){
  color:var(--indian-yellow);
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero{
  --section-padding: 100px;
  padding-block-start:calc(var(--section-padding) + 40px);
  background-position: left;
}
.hero::before{
  inset:0;
  background-color: var(--rich-black-fogra-39_50);
  mix-blend-mode: multiply;
  z-index: -1;
}
.hero-text{
  color: var(--white);
  margin-block: 15px 40px;
}

/*-----------------------------------*\
  #GALLERY
\*-----------------------------------*/
.mtitle {
  text-align: center;
  width: 100%; 
}
.mtitle .heading-line {
  display: block;
  margin: 0 auto;   
  margin-top: 10px; 
}
.title-wrapper { margin-block-end: 60px; }

.gallery .section-text { margin-block: 12px 15px; }

.gallery-card { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.gallery-card .card-banner .img-cover { transition: var(--transition-2); 
}
.gallery-card:is(:hover, :focus-within) .card-banner .img-cover { 
  transform: scale(1.05); 
  filter: grayscale(100%);}

.gallery-card .card-barber {
            position: absolute;
            bottom: -60px;
            opacity: 0;
            width: 100%;
            height:80px;
            background-color: var(--indian-yellow);
            text-align: center;
            transition: all 0.65s ease;
          
    } 

.card-barber .h3-barbers {
  color: white;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.card-barber .p-barbers {
  margin: 2px 0 0;
  font-size: 14px;
  color: white;
}
.gallery-card:hover .card-barber {
  bottom: 0px;
  opacity: 0.9;
}

.gallery .container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.photo-gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap; /* küçük ekranlarda alt alta geçmesini sağlar */
}

.column2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 200px; /* minimum kolon genişliği */
}

.photo2 img {
  width: 100%;       /* kolon genişliğine uyum sağlar */
  height: auto;      /* orantıyı korur */
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photo2 img:is(:hover,:focus) {
  transform: scale(1.03);
}
.loadmore{
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  
}

/*-----------------------------------*
  MOBILE RESPONSIVE
\*-----------------------------------*/
@media (max-width: 768px) {
  .photo-gallery {
    flex-direction: column; /* kolonları alt alta getir */
    align-items: center;
  }

  .column2 {
    flex-direction: row;  /* her kolon içindeki resimleri yan yana göster */
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo2 {
    width: 48%;  /* iki foto yan yana sığsın */
    margin-bottom: 10px;
  }

}
@media (min-width: 768px) and (max-width: 922px){
    .last{
    display: none;
  }
}

@media (max-width: 480px) {
  .photo2 {
    width: 100%; /* tek kolon olarak göster */
  }
}



/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/
.service {text-align: center;}
.services{margin-bottom:100px ;}
.service.section-text { margin-block :15px 55px;}
.service-card{
  background-color: var(--white);
  padding: 60px 25px;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-8);
  transition: all 0.5s ease;
}
.service-card:is(:hover, :focus-withing) {
  transform: scale(1.05);
}

.service-card .card-icon {
  color: var(--indian-yellow);
  font-size: 70px;
  line-height: 1;
}

.service-card .card-title {
  margin-block: 15px 12px;
  transition: var(--transition-1);
}

.service-card .card-title:is(:hover, :focus) { color: var(--indian-yellow); }

.service-card .card-text { margin-block-end: 30px; }

.service-card .card-btn {
  color: var(--indian-yellow);
  background-color: var(--white);
  max-width: max-content;
  margin-inline: auto;
  font-size: 20px;
  padding: 15px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-5);
  transition: var(--transition-2);
}






/*-----------------------------------*\
  #PRICING
\*-----------------------------------*/
.pricing::before{
  inset: 0;
  background-color: var(--eerie-black-2_85);
  mix-blend-mode: multiply;
  z-index: -1;
}
.pricing .section-title{
  color:var(--white);
  margin-bottom: 50px;
}
.pricing .section-text{
  margin-block:15px 55px;
  color:var(--white_50);
}
.pricing-tab-container{
  background-color: var(--white);
  padding:40px 5px; 
}
.tab-filter{
  display:flex;
  flex-wrap: wrap ;
  justify-content: center;
  gap:3px;
  margin-block-end:30px ;
}
.filter-btn{
  color:var(--eerie-black-1);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight:var(--fw-600);
  text-transform: uppercase;
  min-width: 130px;
  padding-block:12px;
  border: 1px solid var(--platinum);
  transition:var(--transition-1)
}
.filter-btn .btn-icon{
  display: none;
}
.filter-btn.active{
  background-color: var(--indian-yellow);
  border-color:var(--indian-yellow) ;
  color:var(--white);
}
.pricing .grid-list{
  padding-inline:20px;
}
.pricing.grid-list > li.active {
  animation: popup 0.75s ease forwards;
}
@keyframes popup{
  0% { opacity: 0;}
  100% { opacity: 1;}
}
.pricing-card{
  background-color: var(--indian-yellow_10);
  padding:20px 25px;
  border-radius: var(--radius-5);
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between ;
  gap:15px;
}
.pricing-card .card-banner{
  border-radius:50% ;
  overflow: hidden;
}
.pricing-card .wrapper{
  order:1;
}
.pricing-card .h3{
  --fs-24:2.4rem;
  margin-block-end: 8px;
}
.pricing-card .card-price{
  color: var(--indian-yellow);
  font-family:var(--ff-oswald);
  font-size: var(--ff-30);
  font-weight: var(--fw-500);
}

/*-----------------------------------*\
  #Barbers
\*-----------------------------------*/

/* ============ ABOUT SECTION ============ */

/* ====== ABOUT SECTION ====== */
.about {
  padding: 80px 0;
}

.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}



.about-content h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #3c3c3c;
}

.about-content img {
  width: 50px;
  margin: 20px 0;
}

.about-content p {
  color: #555;
  line-height: 1.6;
}

/* ==== IMAGE LAYOUT (layered style) ==== */
.about-images {
  position: relative;
  width: 100%;
  min-height: 400px;
  margin-left: 100px;
}

.about-images img {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .2);
  width: 50%;
  transition: transform 0.3s ease;
  box-sizing: border-box;

  /* --- animation default --- */
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 0.8s ease forwards;
}

/* image positions + animation delay */
.about-images .img-1 {
  top: 0;
  right: 288px;
  width: 380px;
  z-index: 1;
  animation-delay: 0.3s;
}

.about-images .img-3 {
  top: 120px;
  right: 280px;
  width: 290px;
  height: 290px;
  z-index: 3;
  animation-delay: 0.9s;
}

.about-images .img-2 {
  top: 60px;
  left: 200px;
  z-index: 2;
  animation-delay: 0.6s;
}

/* hover efekt */
.about-images img:hover {
  transform: scale(0.8);
  z-index: 5;
}

/* ==== KEYFRAMES ==== */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .about-images {
    display: none; /* Resimleri gizle */
  }
}



/*-----------------------------------------*\
    Branches
\*-----------------------------------------*/
.location{ 
  padding: 80px 0;
}
.container .h2-loc{
color: black;
font-size: 5rem;
}
.section-subtitle{
  margin: 0;
  padding-bottom: 20px;

}
.branches{
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.branch-crad{
  
  background-color: #fff;
  border-radius: 12px;
  overflow:hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.branch-crad:hover{
  transform: translateY(-8px);
}

.branch-crad img{
  display: block;
  max-width:100%;
  object-fit: contain;
  height: auto;
}
.branch-info{
  padding: 20px;
  text-align: center;
}
.branch-info .map{
display: flex;
justify-content: center;
align-items: center;
}
.map-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-has-bg-image {
  height: fit-content;

  background-color: var(--eerie-black-2);
  padding-block-end: 30px;
}

.footer-top { display: flex;
  justify-content: center;
  align-items: center; }

.footer-brand {
  border: 1px solid var(--white_10);
  margin-block-end: 70px;
}

.footer .logo {
  text-align: center;
  padding: 25px;
  border-block-end: 1px solid var(--white_10);
}

.footer .input-wrapper {
  background-color: var(--white);
  position: relative;
  margin: 25px;
  padding: 15px;
}

.footer .input-wrapper:focus-within { outline: 3px solid var(--white_30); }

.footer .email-field {
  text-align: center;
  margin-block-end: 15px;
  color: inherit;
  outline: none;
}

.footer .btn {
  max-width: 100%;
  width: 100%;
  justify-content: center;
}

.footer-link-box {
  display: grid;
  gap: 90px;
  padding-top:30px ;
  padding-bottom: 0;
  place-items: center;
  margin-top: 40px;
  
}

.footer-list-title {
  padding-top: 0px;
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-end: 30px;
}

.footer-link::before {
  position: static;
  padding: 2.5px;
  background-color: var(--white_30);
  display: block;
  border-radius: 50%;
  transition: var(--transition-1);
}

.footer-link,
.blog-card,
.blog-card .card-date,
.footer-list-item {
  display: flex;
  align-items: center;
}

.footer-link {
  color: var(--white_50);
  gap: 10px;
  margin-block-start: 8px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) { color: var(--white); }

.footer-link:is(:hover, :focus)::before { background-color: var(--white); }

.blog-card {
  gap: 25px;
  margin-block-start: 20px;
}

.blog-card .card-banner { flex-shrink: 0; }

.blog-card .card-title {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  line-height: 1.5;
  margin-block-end: 5px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) { color: var(--indian-yellow); }

.blog-card .card-date {
  gap: 5px;
  font-size: var(--fs-13);
  text-transform: uppercase;
  color: var(--white_50);
}

.blog-card .card-date ion-icon { --ionicon-stroke-width: 50px; }

.footer-list-item {
  align-items: flex-start;
  gap: 10px;
  margin-block-start: 10px;
}

.footer-list-item ion-icon {
  color: var(--indian-yellow);
  font-size: 18px;
  flex-shrink: 0;
  --ionicon-stroke-width: 50px;
  margin-block: 7px;
}

.contact-link {
  color: var(--white_50);
  transition: var(--transition-1);
}

a.contact-link:is(:hover, :focus) { color: var(--white); }

.footer-bottom {
  background-color: var(--eerie-black-3);
  text-align: center;
  padding: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--indian-yellow);
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/
.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--harvest-gold);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--radius-5);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}




/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-40: 6rem;

  }



  /**
   * REUSED STYLE
   */

  .container,
  .header-top {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .btn { padding: 13px 40px; }

  .h2 { --fs-30: 3.5rem; }



  /**
   * HEADER
   */

  .header-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    z-index: 4;
    background-color: var(--white);
    border-radius: 0 0 20px 20px;
  }

  .header-top-item:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-top-item ion-icon {
    font-size: 18px;
    color: var(--indian-yellow);
    --ionicon-stroke-width: 50px;
  }

  .header-top-item .item-title {
    color: var(--eerie-black-1);
    font-weight: var(--fw-500);
  }

  .header-top-item .item-link { transition: var(--transition-1); }

  .header-top-item .item-link:is(:hover, :focus) { color: var(--indian-yellow); }

  .header-top-list { justify-content: space-between; }

  .logo { font-size: 3rem; }

  .logo .span { font-size: 1.4rem; }



  /**
   * HERO
   */

  .hero { padding-block-start: calc(var(--section-padding) + 80px); }

  .hero-text { font-size: var(--fs-18); }



  /**
   * PRICING
   */

  .filter-btn .btn-icon {
    display: block;
    font-size: 55px;
    line-height: 1;
    margin-block-end: 5px;
  }

  .pricing-card {
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
  }

  .pricing-card .wrapper { order: 0; }

  .pricing-card .card-price {
    align-self: flex-start;
    line-height: 1.6;
  }
  


  /**
   * GALLERY
   */

  .gallery .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * APPOINTMENT
   */

  .appoin-card .card-content { padding-inline: 50px; }



  /**
   * FOOTER
   */

  .footer .email-field {
    margin-block-end: 0;
    text-align: left;
    font-size: var(--fs-18);
    padding: 10px 15px;
    padding-inline-end: 210px;
  }

  .footer .btn {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    width: max-content;
  }

  .footer-link-box { grid-template-columns: 1fr 1fr; }

  .footer-list:is(:nth-child(3), :nth-child(4)) { grid-column: 1 / 3; }

  .blog-card .card-title {
    --fs-14: 1.7rem;
    max-width: 25ch;
  }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-40: 8rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .h2 { --fs-30: 4rem; }

  .section-text {
    max-width: 50ch;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .header-top { max-width: 780px; }



  /**
   * SERVICE
   */

  .service .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * PRICING
   */

  .pricing-tab-container { padding: 40px; }

  .pricing-card .wrapper { margin-inline-end: auto; }



  /**
   * GALLERY
   */

  .gallery .section-text { margin-inline: 0; }

  .gallery-card .card-content { inset: 30px; }



  /**
   * APPOINTMENT
   */

  .appoin-card .card-banner { display: block; }

  .appoin-card { display: flex; }



  /**
   * FOOTER
   */

  .footer-list:is(:nth-child(3), :nth-child(4)) { grid-column: auto; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-40: 10rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .header-top { max-width: 1020px; }

  .header-bottom { padding-block: 20px; }

  .navbar,
  .navbar-list,
  .navbar-item { all: unset; }

  .navbar-list,
  .header .btn { display: flex; }

  .navbar-link { padding-inline: 10px; }

  

  /**
   * HERO
   */

  .hero {
    --section-padding: 150px;
    padding-block-start: calc(var(--section-padding) + 100px);
  }

  .hero-title,
  .hero-text { max-width: 600px; }



  /**
   * SERVICE
   */

  .service .grid-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * PRICING
   */

  .pricing .grid-list { grid-template-columns: 1fr 1fr; }

  .pricing-card { height: 100%; }

  .pricing-card .card-banner { flex-shrink: 0; }



  /**
   * GALLERY
   */

  .gallery .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .gallery .section-text { margin-block-end: 0; }



  /**
   * APPOINTMENT
   */

  .appoin-card .input-wrapper {
    display: flex;
    gap: 20px;
  }



  /**
   * FOOTER
   */

  .footer-brand {
    display: flex;
    align-items: center;
  }

  .footer .logo {
    padding: 60px 70px;
    border-block-end: none;
    border-inline-end: 1px solid var(--white_10);
  }

  .footer .input-wrapper {
    flex-grow: 1;
    margin-inline: 70px;
  }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-40: 11rem;

    /**
     * spacing
     */

    --section-padding: 120px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }



  /**
   * HEADER
   */

  .header-top { max-width: 1260px; }

  .header-top-list { gap: 30px; }

  .header-top-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-top-item:nth-child(2) { margin-inline-end: auto; }



  /**
   * HERO
   */

  .hero {
    background-position: left;
    padding-block-end: 200px;
  }

  .hero-title,
  .hero-text { max-width: 680px; }



  /**
   * PRICING
   */

  .filter-btn { min-width: 178px; }



  /**
   * GALLERY
   */

  .gallery .grid-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * APPOINTMENT
   */

  .appoin-card .card-content { flex-grow: 1; }



  /**
   * FOOTER
   */

  .footer-link-box { grid-template-columns: 0.5fr 0.5fr 1fr 0.8fr; }



  /**
   * BACK TO TOP
   */

  .back-top-btn { padding: 15px; }

}
